[submodule "vueNews"]
	path = vueNews
	url = https://github.com/bulhwi/vue-news.git
[submodule "apple-clone"]
	path = apple-clone
	url = https://github.com/bulhwi/apple_clone.git
[submodule "react-note"]
	path = react-note
	url = https://github.com/bulhwi/react-note.git
[submodule "webAssembly_in_action"]
	path = webAssembly_in_action
	url = https://github.com/bulhwi/webAssembly_in_action.git
[submodule "Typescript"]
	path = Typescript
	url = https://github.com/bulhwi/Typescript.git
[submodule "nuxtApp"]
	path = nuxtApp
	url = https://github.com/bulhwi/NuxtApp.git
[submodule "GraphQL"]
	path = GraphQL
	url = https://github.com/bulhwi/GraphQL-toy.git
